.menuitems{
    display: flex;
    margin-left: auto;
    @media(max-width:767px){
        display: none;
        position: absolute;
        top: 46px;
        background: white;
        z-index: 99;
        width: 100%;
    }
    li{
        margin: 0;
        padding: 0;
        list-style: none;
        a{
            display: block;
            position: relative;
            color: #413e66;
            padding: 30px 15px;
            text-align: center;
            transition: 0.3s;
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            &:hover{
                color:#1bb1dc;
            }
        }
    &:last-child{
        a{
            padding-right:0;
        }
    }
    }
}