*{    font-family: "Open Sans", sans-serif;}
.h1{
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration:none;   
  }
.grid-3{
  margin-left:-15px;
   margin-right: -15px;
   display:flex;
   flex-direction: colmn;
   flex-wrap: wrap;
  .items{
        position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 30.333333%;
    max-width: 30.333333%;
    margin:15px 0;
  }
}
.grid-4{
  margin-left:-15px;
  margin-right: -15px;
  display:flex;
  flex-direction: colmn;
  flex-wrap: wrap;
  .items{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin:15px 0;
  }
}.app{
  margin-top: 40px;
}