*{    font-family: "Open Sans", sans-serif;     padding: 0;
  margin: 0;}
.h1{
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration:none;   
  }

.grid-4{
  margin-left:-10px;
  margin-right: -10px;
  display:flex;
  flex-direction: colmn;
  flex-wrap: wrap;
  .items{
    max-width: 23%;
    padding-right: 10px;
    padding-left: 10px;
    margin:15px 0;
    @media(max-width:991px){
      flex: 0 0 33.33%;
    }
    @media(max-width:768px){
      flex: 0 0 47%;
      max-width:47%;
    }
    @media(max-width:767px){
      flex: 0 0 100%;
      max-width:100%;
    }
  }
}
.app{
  margin-top: 40px;
}
.show{display: block !important;}