.App {
  text-align: center;
  .logo{ 
   margin-right: auto;
   a{
     color:Black;
     font-size:30px;
   }
  }
}                                                                                       